/* menu */
ul.menu {
	margin: 0; padding: 0;
}
/* polozka menu */
ul.menu li {
	list-style-type: none;
	position: relative;
}
/* aktivni polozka */
ul.menu li.active {
}
/* polozka se zanorenou urovni */
ul.menu li.childs {
}
/* prvni polozka */
ul.menu li.first {
}
/* posledni polozka */
ul.menu li.last {
}
/* polozka menu po najeti IE */
ul.menu li.over {
	z-index: 1;
}
/* polozka menu po najeti Gecko */
ul.menu li:hover {
	z-index: 1;
}
ul.menu li:hover > ul {
	display: block;
}
/* odkaz */
ul.menu li a {
	padding: 2.5px;
}
/* aktivni odkaz */
ul.menu li a:hover {
}
/* zanorena uroven */
ul.menu li ul {
	display: none;
	position: absolute;
	margin: 0; padding: 0;
}