/* IMPORT SDILENYCH NASTAVENI ========================== */
@import url("default.css");
/* ===================================================== */
body {
	background: #b31717 url("../images/bg/body_red.gif") repeat-x;
}
a {
	color: #96c72c;
}
form input {
	border-color: #96c72c;
}
form input.submit {
	background-color: #96c72c;
	border-color: #96c72c;
}
div.shadow {
	background: url("../images/bg/shadow_red.gif") repeat-y;
}
table.layout td.head {
	background: url("../images/bg/head_red.jpg") no-repeat top;
}
table.layout td.left div.content ul.menu li a {
	color: #9e1714;
}
table.layout td.left div.content ul.menu li.active a {
	background-color: #96c72d;
}
table.layout td.left div.content h3 {
	background-color: #96c72d;
}
table.layout td.main div.content h3 {
	background-color: #96c72d;
}
table.layout td.bottom {
	background: url("../images/bg/bottom_red.gif") repeat-x;
}